
{%  extends 'acc/main.html' %}


{% block content %}

{% load static %}



<!-- Vigilant Driving -->


<section class='card-list d-flex'> 
  <article class="card">
    <header class= "card-header">
      <p>machine learning | embedded systems | Application </p>
      <h2>Vigilant Driving</h2>

     <p class="description"> Stuuff in here</p>
    </header>
      <p class="tags">pytorch Qt android studio cv2 bash</p>
      <img src="{% static 'images/gitlight.png'%}">

 </article>

<!-- GTrXL -->
  <article class="card">
    <header class= "card-header">
      <p>Machine Learning</p>
      <h2>GTrXL</h2>

     <p class="description"> Stuuff in here</p>
    </header>
    <p class="tags">Pytorch </p>
      <img src="{% static 'images/gitlight.png'%}">

 </article>

<!-- Reinforcement Learning Methods on Crypto -->
 <article class="card">
    <header class= "card-header">
      <p>Machine Learning</p>
      <h2>Reinforment Learning on Crypto</h2>

     <p class="description"> Stuuff in here</p>
    </header>
      <p class="tags">Pytorch</p>
      <img src="{% static 'images/gitlight.png'%}">
 </article>


<!--School Safe -->
 <article class="card">
    <header class= "card-header">
      <p>Web Application</p>
      <h2>School Safe</h2>

     <p class="description"> Stuuff in here</p>
    </header>
      <p class="tags">Html css php sql javascript oracle-Db</p>
      <img src="{% static 'images/gitlight.png'%}">
 </section>


<!-- Smart Car Seat -->
<section class='card-list d-flex'> 
  <article class="card">
    <header class= "card-header">
      <p>Embedded Systems | Web Development | Machine Learning</p>
      <h2>Smart Car Seat</h2>

     <p class="description"> Stuuff in here</p>
    </header>
      <p class="tags">Tensorflow GPS Microcontroller Django (Other Sensors)</p>
      <img src="{% static 'images/gitlight.png'%}">
 </article>

<!-- Website-->
  <article class="card">
    <header class= "card-header">
      <p>Web Development</p>
      <h2>Portfolio Website</h2>

     <p class="description"> Stuuff in here</p>
    </header>
      <p class="tags">Django</p>
      <img src="{% static 'images/gitlight.png'%}">
 </article>

<!-- Transformers -->
 <article class="card">
    <header class= "card-header">
      <p>Machine Learning</p>
      <h2>Transformers on BTC</h2>

     <p class="description"> Stuuff in here</p>
    </header>
      <p class="tags">Pytorch </p>
      <img src="{% static 'images/gitlight.png'%}">
 </article>


<!--Blonde -->
 <article class="card">
    <header class= "card-header">
      <p>Machine Learning</p>
      <h2>Hair Color Detector</h2>

     <p class="description"> Stuuff in here</p>
    </header>
      <p class="tags">Tensorflow</p>
      <img src="{% static 'images/gitlight.png'%}">
 </section>




{% endblock %}

