
{%  extends 'acc/main.html' %}


{% block content %}

{% load static %}



<!-- Vigilant Driving -->


<section class='card-list d-flex'> 
  <article class="card">
    <header class= "card-header">
      <p>machine learning | embedded systems | Application </p>
      <h2>Vigilant Driving</h2>

     <p style="letter-spacing:0px; text-align:left;text-transform:none;margin-bottom:1px;" class="description">An application that assists in support to achieving self-driving vehicles. Various trained models are deployed on ARM64 and mobile devices for the user to see what is happening.</p>
    </header>
      <p class="tags">pytorch Qt android studio cv2 bash</p>
      <a target='_blank' href="https://github.com/alantess/vigilant-driving">
        <img src="{% static 'images/gitlight.png'%}">
      </a>

 </article>

<!-- GTrXL -->
  <article class="card">
    <header class= "card-header">
      <p>Machine Learning</p>
      <h2>GTrXL</h2>

      <p style="letter-spacing:0px; text-align:left;text-transform:none;margin-bottom:1px;" class="description">Turning research to code. This is a stabilizing transformer(Gated Transformer-XL)used for reinforcement learning agents. Reformats typical architectures by adding gated layers and residuals.</p>
    </header>
    <p class="tags">Pytorch </p>
    <a target='_blank' href="https://github.com/alantess/gtrxl-torch">
      <img src="{% static 'images/gitlight.png'%}">
    </a>

 </article>

<!-- Reinforcement Learning Methods on Crypto -->
 <article class="card">
    <header class= "card-header">
      <p>Machine Learning</p>
      <h2>Reinforment Learning on Crypto</h2>
     <p class="description" style="letter-spacing:0px; text-align:left;text-transform:none;margin-bottom:1px;">An agent that uses GTrXL to trade different types of currencies profitably. The environment takes prices and turns them into an image at the time (t). The agent uses the image to perform the optimal trade.</p>
    </header>
      <p class="tags">Pytorch</p>

  <a target='_blank' href="https://github.com/alantess/transformer">
      <img src="{% static 'images/gitlight.png'%}">
  </a>
 </article>


<!--School Safe -->
 <article class="card">
    <header class= "card-header">
      <p>Web Application</p>
      <h2>School Safe</h2>

     <p class="description" style="letter-spacing:0px; text-align:left;text-transform:none;margin-bottom:1px;">A mobile application that enables emergency alerts, headcounts, and live updates via chat between educators and administrators about the active crisis on campus.</p>
    </header>
      <p class="tags">Html css php sql javascript oracle-Db</p>
  <a target='_blank' href="https://github.com/alantess/Safety_App">
      <img src="{% static 'images/gitlight.png'%}">
  </a>
 </section>


<!-- Smart Car Seat -->
<section class='card-list d-flex'> 
  <article class="card">
    <header class= "card-header">
      <p>Embedded Systems | Web Development | Machine Learning</p>
      <h2>Smart Car Seat</h2>

     <p class="description" style="letter-spacing:0px; text-align:left;text-transform:none;margin-bottom:1px;">A safety device for children's car seats that improve supervision, evaluates driving, notifications signal, real-time location tracking, and predicts dangerous situations.</p>
    </header>
      <p class="tags">Tensorflow GPS Microcontroller Django (Other Sensors)</p>
   <a target='_blank' href="https://github.com/alantess/carseat">
      <img src="{% static 'images/gitlight.png'%}">
   </a>
 </article>

<!-- Website-->
  <article class="card">
    <header class= "card-header">
      <p>Web Development</p>
      <h2>Portfolio Website</h2>

     <p class="description" style="letter-spacing:0px; text-align:left;text-transform:none;margin-bottom:1px;">The source code for alantessier.com.</p>
    </header>
      <p class="tags">HTML CSS Django</p>
    <a target='_blank' href="https://github.com/alantess/website">
     <img src="{% static 'images/gitlight.png'%}">
    </a>
 </article>

<!-- DDQN -->
 <article class="card">
    <header class= "card-header">
      <p>Machine Learning</p>
      <h2>DDQN on BTC</h2>

     <p class="description" style="letter-spacing:0px; text-align:left;text-transform:none;margin-bottom:1px;">Real life example of applying Double Q-Learning in the crypto space.</p>
    </header>
      <p class="tags">Pytorch </p>
    <a target='_blank' href="https://github.com/alantess/DDQN-BTC">
      <img src="{% static 'images/gitlight.png'%}">
    </a>
 </article>


<!--Blonde -->
 <article class="card">
    <header class= "card-header">
      <p>Machine Learning</p>
      <h2>Hair Color Detector</h2>

     <p class="description" style="letter-spacing:0px; text-align:left;text-transform:none;margin-bottom:1px;">A CNN model is used to detect images with users with blonde hair. The model uses the celeb_a dataset so it can be modified to be trained on any characteristic. These characteristics can be for people with eyeglasses, bald heads, facial hair, rosy cheeks, young faces, etc.</p>
    </header>
      <p class="tags">Tensorflow</p>
   <a target='_blank' href="https://github.com/alantess/blonde">
      <img src="{% static 'images/gitlight.png'%}">
   </a>
 </section>




{% endblock %}

