{%  extends 'acc/main.html' %}

{% block content %}


<section class='card-list'> 
  <article class="card">
    <header class= "card-header">
      <p>Git</p>
      <h2>Card Trick</h2>
    </header>
  </article>
  <article class="card">
    <header class= "card-header">
      <p>Git</p>
      <h2>Card Trick</h2>
    </header>
  </article>
  <article class="card">
    <header class= "card-header">
      <p>Git</p>
      <h2>Card Trick</h2>
    </header>
  </article>
  <article class="card">
    <header class= "card-header">
      <p>Git</p>
      <h2>Card Trick</h2>
    </header>
  </article>




</section>

{% endblock %}

