@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');



body {
background-color: #021033;
padding:0;
margin:0;
font-family: 'DM Mono', monospace;
}

a {text-decoration:none;}


.link-home {
  text-decoration:none;
}


.card-list {
  display:flex;
  padding:2rem;
  margin:auto;
  /* overflow-x:scroll */
}



.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
    background: #594399;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}



.card{
  display:flex;
  position:relative;
  flex-direction: column;
  width:350px;
  height:450px;
  min-height:350px;
  min-width:250px;
  margin:0;
  padding:1.2rem;
  border-radius:16px;
  box-shadow: -1rem 0 3rem #594399;
  transition: .2s;
  background: #100533;
  border:3px dotted #594399;
  clear:both;
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(130px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -130px;
}


.card-header {
  margin-bottom:auto;
}



.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    text-transform:capitalize;  
    color: #806119;
}
.card-header h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: inherit;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: white;
}


.card-header h2:hover {
    background: linear-gradient(165deg,#4f0066,#FFFDD0);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


.description { 
  text-align:justify;
  color:white;
  vertical-align::text-top;
  color: white !important;


}


.tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    text-transform:uppercase;
    text-align:justify;
    margin-bottom: 0;
    text-decoration:bold;
    color:white;
}


img {
width:32px;
display:block;
margin-right: auto;
max-width:32px;

}
